---
import BlogPostPreview from "@/components/BlogPostPreview";
import Pagination from "@/components/Paginator";
import PageLayout from "@/layouts/Base";
import type { MDXInstance, Page, Post } from "@/types";
import { Icon } from "astro-icon";
import { getAllTags, sortMDByDate } from "src/util";

export async function getStaticPaths({ paginate }) {
  const allPosts = await Astro.glob<Post>("./*.mdx");
  const allPostsByDate = sortMDByDate(allPosts);
  const allTags = getAllTags(allPosts);
  return paginate(allPostsByDate, { props: { allTags }, pageSize: 10 });
}

export interface Props {
  page: Page<MDXInstance<Post>>;
  allTags: string[];
}

const { page, allTags } = Astro.props as Props;

const meta = {
  title: "Posts",
  description: "A collection of posts by me for a starter Astro theme",
};

const paginationProps = {
  ...(page.url.prev && {
    prevUrl: {
      url: page.url.prev,
      text: `← Previous Posts`,
    },
  }),
  ...(page.url.next && {
    nextUrl: {
      url: page.url.next,
      text: `Next Posts →`,
    },
  }),
};
---

<PageLayout meta={meta}>
  <h1 class="mb-6 title">Posts</h1>
  <div class="grid gap-y-16 sm:grid-cols-[3fr_1fr] sm:gap-x-8">
    <section aria-label="Blog post list">
      <ul class="text-left space-y-8">
        {page.data.map((p) => <BlogPostPreview post={p} withDesc />)}
      </ul>
      <Pagination {...paginationProps} />
    </section>
    {
      allTags.length && (
        <aside>
          <div class="mb-4 flex items-baseline justify-between">
            <h2 class="flex items-center gap-1 text-lg font-semibold">
              <Icon pack="pixelarticons" name="label" class="h-5 w-5" />
              <span>Tags</span>
            </h2>
            <div class="flex items-center self-end">
              <a
                class="sm:hover:text-accent peer text-sm leading-[25px] transition duration-100"
                href="/tags"
                aria-label="View all post categories"
              >
                View all
              </a>
              <Icon
                pack="pixelarticons"
                name="arrow-right"
                class="text-accent h-4 w-4 -translate-x-1 opacity-0 transition duration-500 ease-[cubic-bezier(.15,.61,.14,1)] peer-hover:translate-x-0 peer-hover:opacity-100"
              />
            </div>
          </div>
          <ul class="text-bgColor flex flex-wrap gap-2 sm:justify-between">
            {allTags.map((tag) => (
              <li>
                <a
                  class="bg-accent flex items-center justify-center rounded-lg p-1"
                  href={`/tags/${tag}`}
                  aria-label={`View all posts with the tag: ${tag}`}
                >
                  {tag}
                </a>
              </li>
            ))}
          </ul>
        </aside>
      )
    }
  </div>
</PageLayout>
