---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";

import avatar from "~/assets/avatar.png";
import SocialIcon from "~/components/SocialIcon.astro";
import PageHeading from "~/components/common/PageHeading.astro";
import RootLayout from "~/layouts/RootLayout.astro";

const author = await getEntry("authors", "default");
const { Content } = await author.render();
const { name, occupation, company, email, github, linkedin, x } = author.data;
---

<RootLayout title={name} description={occupation}>
  <div class="divide-y divide-gray-200 dark:divide-gray-700">
    <div class="space-y-2 pb-8 pt-6 md:space-y-5">
      <PageHeading>It's me</PageHeading>
    </div>
    <div class="items-start space-y-2 xl:grid xl:grid-cols-3 xl:gap-x-8 xl:space-y-0">
      <div class="flex flex-col items-center space-x-2 pt-8">
        <Image src={avatar} alt="avatar" width={192} height={192} class="h-48 w-48 rounded-full" />
        <h3 class="pb-2 pt-4 text-2xl font-bold leading-8 tracking-tight">{name}</h3>
        <div class="text-gray-500 dark:text-gray-400">{occupation}</div>
        <div class="text-gray-500 dark:text-gray-400">{company}</div>
        <div class="flex space-x-3 pt-6">
          <SocialIcon name="tabler:mail-heart" href={`mailto:${email}`} alt="Send me an email" />
          <SocialIcon name="tabler:brand-github" href={github} alt="Follow me on Github" />
          <SocialIcon name="tabler:brand-linkedin" href={linkedin} alt="Follow me on LinkedIn" />
          <SocialIcon name="tabler:brand-x" href={x} alt="Follow me on X" />
        </div>
      </div>
      <div class="prose max-w-none pb-8 pt-8 dark:prose-invert xl:col-span-2">
        <Content />
      </div>
    </div>
  </div>
</RootLayout>
