---
import type { SiteMeta } from "@/types";
import siteMeta from "src/site-meta.config";
import "../styles/global.css";

export type Props = SiteMeta;

const {
  title,
  description = siteMeta.description,
  image,
} = Astro.props as Props;

const titleSeparator = "•";
const siteTitle = `${title} ${titleSeparator} ${siteMeta.title}`;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- Primary Meta Tags -->
<title>{siteTitle}</title>
<meta name="title" content={siteTitle} />
<meta name="description" content={description} />

<!-- Global Metadata -->
<meta name="theme-color" content={siteMeta.themeColorLight} />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#ffffff" />

<!-- Open Graph / Facebook -->
<meta property="og:locale" content={siteMeta.ogLocale} />
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<link rel="canonical" href={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
{image && <meta property="og:image" content={image} />}

<!-- Twitter -->
<meta
  property="twitter:card"
  content={image ? "summary_large_image" : "summary"}
/>
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
{image && <meta property="twitter:image" content={image} />}
